.newStyle1 {
	font-family: PaleoBora;
	font-size: small;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	line-height: normal;
	vertical-align: middle;
	text-align: right;
	word-spacing: normal;
	letter-spacing: normal;
	position: inherit;
	z-index: auto;
	visibility: visible;
	display: inline;
	float: right;
	clear: both;
	cursor: crosshair;
	list-style-type: none;
	list-style-image: none;
	list-style-position: inherit;
}
